/*Color Variables */
:root {
    --blue: #5B6888;
    --tan: rgb(255, 215, 184);
    --light-blue: rgb(209, 230, 250);
    --light-blue2: #A5B6D1;
    --brown: rgb(128,86,54);
    
  }

/* CSS reset */

html {
    background-color: white;
}

body, p, h1, h2, h3, h4, h5, h6, nav {
    padding: 0;
    margin: 0;
    
}
/* box model solution here */
* {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/* Style Rules */

/* Navigation */
nav {background-color: var(--tan);}
nav ul.nav li {
    float: left;
    list-style-type: none;
    font-family: 'Dosis', sans-serif;
}
nav ul.nav li a {
    display: block;
    padding: 10px 20px;
    color: var(--blue);
    text-decoration: none;
    border-left: solid 2px #5B6888;
}

ul.nav li.active a {
    background-color: var(--light-blue);
}
ul.nav li a:hover{
    background-color: var(--light-blue);
}
.stopcollapse {
    clear: both;
}
/*End Nav Styling*/
main {
    padding: .5rem 2%;
}
h1, h3 {
    color: var(--blue);
    font-family: 'Economica', sans-serif;
    font-style: normal;
    padding: 5px;

}
#mainblog {
    text-align: center;
}
h2 {
    color: var(--light-blue2);
    font-family: 'Economica', sans-serif;
    padding: 10px;
}
p {
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    padding-left: 10px;
    line-height: 30px;

}
a:link {color: var(--tan);}
a:visited {color:var(--brown);}
a:hover {color:var(--light-blue);}
/* Blog specific rules */
h2#theory {
    color: var(--blue);
}

ul.overview {
    list-style-type: circle;
    font-family: 'Dosis', sans-serif;
text-align: left;
padding-left: 470px;
}
ol.structure {
    list-style-type: upper-roman;
    font-family: 'Dosis', sans-serif;

}
ul.overview:hover {color: var(--light-blue);}
.theorydef, .quote {
    border: solid 4px var(--light-blue);
border-radius: 11px;
padding: 10px;
margin: 10px;
font-family: 'Dosis', sans-serif;
line-height: 30px;
font-size: 17px;

}
main dl dt {
    font-weight: 600;
    padding: 0 0 0 1rem;
}
main dl dd {
    padding: 0 0 .75rem 1rem;
}
/*Styling Images */
.photo {
    margin: 0 0 0 2%;
    padding: .05em;
    float: right;
    border: 2px solid var(--blue);
    width: 10%;
}
figure.photo img {
    width: 100%;
  
}
figure.galleryImages {
    float: left;
}
figure figcaption {
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    text-align: center;
}

footer {
    
    border: solid 1px var(--light-blue);
    border-radius: 11px;
    background-color: var(--light-blue2);
    text-align: center;

}


